/* global.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.dashboard-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

